/* 全局样式表 */
html,
body,
#app {
    margin: 0;
    padding: 0;
    height: 100%;
}
/* 面包屑样式 */
.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}
/* 表格样式 */
.el-table {
    margin: 15px 0;
    font-size: 12px;
}
/* 菜单栏项后的三角箭头样式 */
.el-submenu__title i {
    color: #fff !important;
}
/* 级联选择器下拉框的样式，用于隐藏滚动条 */
.el-cascader__dropdown {
    height: 300px;
    overflow-y: hidden;
}
/* 级联选择器下拉框内容的样式，用于隐藏滚动条 */
.el-cascader-panel {
    height: 318px;
}
/* 步骤条的上下边距和字体大小 */
.el-steps {
    margin: 15px 0;
}
.el-step__title {
    font-size: 13px;
}
/* 重置复选框(添加商品动态参数)样式 */
.el-checkbox {
    margin: 5px 10px !important;
}