/* 全局样式表 */
html,
body,
#app {
    margin: 0;
    padding: 0;
    height: 100%;
}
/* 面包屑样式 */
.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}
/* 表格样式 */
.el-table {
    margin: 15px 0;
    font-size: 12px;
}
/* 菜单栏项后的三角箭头样式 */
.el-submenu__title i {
    color: #fff !important;
}

.el-cascader__dropdown {
    height: 300px;
}

.el-cascader-panel {
    height: 300px;
}